main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.character {
    height: 29vh;
    width: 29vh;
    padding: 10px;
    background-color: var(--container-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; 
    border: 3px solid black;
    transition: box-shadow 0.6s ease-in-out;
    transition: border 0.2s ease-in;
}

.character > img{
    height: 90%;
    width: 90%;
}

.character:hover{
    cursor: pointer;    
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.5);
}

.move-in{
    animation: landing 1s ease-in forwards;
}

@keyframes landing {
    0% {
        transform: translateY(0px);  
    }
    50% {
        transform: translateY(-10px);  
    }
    100% {
        transform: translateY(0px);  
    }
}


