main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.character {
    height: 25vw;
    width: 25vh;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
