main {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-button {
    height: 32%;
    width: 18vw;
    font-size: 58px;
    background-color: white;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s border;
}

.start-button:hover{
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 5px 0px 0px rgba(82, 189, 243, 0.5);
}


.button-ending{
    animation: fade-out 3s ease-in-out forwards;
}

.landing-container {
    display: flex;
    height: 40vw;
    margin-bottom: 3%;
    animation: fly-in 3s ease-in-out forwards;
}

.landing-container > img{
    height: 70%;
    width: 70%;
    margin-left: 13%;
}

.banner > h1{
    margin-left: 40px;
    font-size: 36px;
}

.landing-ending{
    animation: fly-out 2.5s ease-in-out forwards;
}

@keyframes fly-in {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0%); 
    }
    
}

@keyframes fly-out { 
    0% {
        transform: translateX(0); 
    }
    70%{
        transform: translateX(100%);
    }
    100% {
        transform: translateX(110%); 
        opacity: 0;
    }
}

@keyframes fade-out {
        0% {
        opacity: 0.2; 
    }

    10%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    
}