main {
    height: 60vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.start-button {
    height: 115px;
    width: 385px;
    font-size: 60px;
}

.landing-container {
    display: flex;
    height: 40vw;
    margin-bottom: 15%;
}

.airplane {
    margin-left: -20px;
    height: 100%;
    width: 35vh;
    background-image: url(/media/airplane.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
    height: 100%;
    width: 90vh;
    background-image: url(/media/banner\ +\ line.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.banner > h1{
    margin-left: 40px;
    font-size: 36px;
}