:root {
    --item-size: 8vw;
}

body {
    margin: 3%;
}

nav{
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

nav > *{
    height: var(--item-size);
    width: var(--item-size);
    border: 1px solid black;
}

