:root {
    --item-size: 12vh;
    --night-color: #0D618B;
    --sunset-color: #FFAEE5;
    --day-color: #52BDF3;
    --margins-viewport: 3%;
    --container-color: #FDFFEF;
    --biggest-font: 25px;
    --middle-font: 18px;
}

@font-face {
    font-family: poppins-medium;
    src: url("../media/Poppins/Poppins-Medium.ttf");
}

body {
    overflow: hidden;
    margin: 0px;
    font-family: poppins-medium;
    transition: background-color 2s ease, background 1s ease;
}

/* NAV */ 

nav{
    margin: var(--margins-viewport);
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1%;
    touch-action: manipulation;
}

nav > *{
    height: var(--item-size);
    width: var(--item-size);
    border-radius: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s ease-in-out;
}

nav > *:hover, nav:focus{
    border: 3px solid black;
}

/* DATA-THEME */ 

.darkmode{
    background-image: url("/media/day.svg");
}

.sunset{
    background-image: url("/media/darkmode.svg");
}

.day{
    background-image: url("/media/sunset.svg");
}

.nav-sound{
    background-image: url("/media/sound.svg");
}

.sound-off{
    background-image: url("/media/Ljud-off.svg");
}

.nav-back{
    background-image: url("/media/arrow-back.svg");
}

body[data-theme="day"] {
    background-color: var(--day-color);
}

body[data-theme="darkmode"] {
    background-color: var(--night-color);
}

body[data-theme="sunset"] {
    background-color: var(--day-color); 
}

body[data-theme="sunset"]::after {
    content: "";
    position: fixed;
    left: 50%;
    bottom: 0;  
    height: 0; 
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    background: linear-gradient(to top, var(--sunset-color) 0%, transparent 100%);
    z-index: -3;
    animation: grow-from-bottom 2s ease-in forwards;
}

@keyframes grow-from-bottom {
    0% {
        height: 0; 
    }
    100% {
        height: 90vh; 
    }
}
/* forfront*/ 

.forfront {
    position: absolute;
    left: 0; 
    right: 0; 
    max-width: 90vw; 
    overflow: hidden; 
    z-index: -2;
}

.landscape {
    position: fixed;
    top: 60%;
    height: 50%;
    width: 100%;
    background-image: url("/media/forfront.svg");
    background-size: cover;
    background-position: center;
}

.small1, .small2, .small3, .small4, .small5, .small6, .small7, .small8, .small9, .main-item{
    position: fixed;
    z-index: -2;
}

.main-item.sunset-item{
    animation: sunset-move 2s ease-in-out forwards;
}

.main-item.darkmode-item{
    animation: item-opacity 2s ease-in-out;
}

.main-item.day-item{
    animation: sun-enter 2s ease-in-out;
}

.small1{
    top: 26%;
    left: 28%;
}

.small2{
    bottom: 60%;
    left: 6%;   
}

.small3{
    top: 25px;
    left: 44%;
}

.small4{
   bottom: 37%;
  left: 38%;
}

.small5{
    bottom: 60%;
  left: 52%;
}

.small6{
    top: 29%;
    right: 8%;
}

.small7{
    right: 30px;
    top: 5%;
}

.small8{
    left: 10%;
    bottom: 35%;
}

.small9{
    right: 15%;
    bottom: 30px; 
}

.main-item{
    left: 66%;
    bottom: 53%;
}

.darkmode-item > .small4 .small3 .small2, .sunset-item > .small4, .small3, .small2{
    animation: item-wiggle 2s ease-in;
}

@keyframes sun-enter {
    0% {
        transform: translate(25%, -50%);
    }
    100% {
        transform: translate(0%, 0%);
    }  
}

@keyframes sunset-move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 100%);
    }
}

@keyframes item-opacity {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes item-wiggle {
    0% {
    transform: rotate(0deg); 
    }
    25% {
      transform: rotate(-10deg); 
    }
    50% {
      transform: rotate(10deg); 
    }
    75% {
      transform: rotate(-10deg); 
    }
    100% {
      transform: rotate(0deg);
    }
}
