
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 5%;
    margin-bottom: 5%;
}

.puzzle-container{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    height: 55vh;
}

.puzzle-container-pieces.Babblarna { 
    box-sizing: border-box; 
    min-width: 50%;
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 200px); 
    gap: 8%;
}

.puzzle-container-pieces.Bamse { 
    box-sizing: border-box; 
    min-width: 50%;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(3, 100px); 
    gap: 13%;
}

#piece3{
    grid-column: 1;
    grid-row: 1;
}

#piece1{
    grid-column: 2;
    grid-row: 1;
}

#piece2{
    grid-column: 1;
    grid-row: 2;
}

#piece4{
    grid-column: 2;
    grid-row: 2;
}

.puzzle-piece{
    z-index: 3;
    cursor: pointer;
}

#outline{
    position: relative;
}

.puzzle-finish{
   animation: grow-shrink 2s ease-in;
}

.puzzle-container > button{
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
    padding: 20px;
    font-size: 30px;
    align-self: flex-end;
}


@keyframes grow-shrink {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1); 
    }
}