main {
    height: 60vw;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

.container > *{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-sizing:content-box;
}
.theme-container {
    opacity: 0;
}

.move-in {
    opacity: 1;
    transform: scale(1); 
    animation: landing 1s ease-out forwards;
}

@keyframes landing {
    0% {
        opacity: 0;
        transform: scale(0.9); 
    }
    50% {
        opacity: 1;
        transform: scale(1.1);  
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

