main {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

.theme-container{
    background-color: var(--container-color);
    height: 22%;
    width: 22%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-sizing:content-box;
    border: 3px solid black;
    transition: border 0.3s ease-in-out;
    opacity: 0;
    box-shadow: 2px 4px 6px 0px black;
}

.theme-container > h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px; 
}



.move-in {
    opacity: 1;
    transform: scale(1); 
    animation: landing 1.2s ease-out forwards;
}

.container > *:hover{
    border: 3px solid black; 
}

@keyframes landing {
    0% {
        opacity: 0.2;
        transform: scale(1); 
    }
    50% {
        opacity: 1;
        transform: scale(1.1);  
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

